@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 400;
	src: url(/static_fonts/NanumGothic-Regular.eot),
		url(/static_fonts/NanumGothic-Regular.woff2) format("woff2"),
		url(/static_fonts/NanumGothic-Regular.woff) format("woff"),
		url(/static_fonts/NanumGothic-Regular.ttf) format("truetype");
}

.hidden {
	display: none;
}

.selected {
	border-color: rgb(23, 148, 197);
	border: 3px;
}

body {
	font-family: "Nanum Gothic"; /* 나눔고딕체 */
	width: 100%;
	height: 100%;
	margin-top: 5% auto 0 auto;
	display: grid;
	background-color: #f6f9fc;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
}

h1 {
	color: black;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 5%;
}

.guide {
	cursor: default;
	margin: 0 auto;
	padding: 2% 4%;
	text-align: center;
	text-decoration: none;
	text-decoration: blue;
	font-weight: bold;
	font-size: 25px;
	border: blue 8px inset;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.netflixHome {
	margin: 0 auto;
	padding-left: 102.108px;
	padding-right: 102.108px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	text-decoration: blue;
	font-weight: bold;
	font-size: 25px;
	border: #e41e1b 8px inset;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.watchaHome {
	margin: 0 auto;
	padding-left: 86.69px;
	padding-right: 86.69px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	text-decoration: blue;
	font-weight: bold;
	font-size: 25px;
	border: #ff0459 8px inset;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.wavveHome {
	margin: 0 auto;
	padding-left: 103.18px;
	padding-right: 103.18px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	text-decoration: blue;
	font-weight: bold;
	font-size: 25px;
	border: #0052ff 8px inset;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.tvingHome {
	margin: 0 auto;
	padding-left: 102.29px;
	padding-right: 102.29px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	text-decoration: blue;
	font-weight: bold;
	font-size: 25px;
	border: #ff133d 8px inset;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.disneyHome {
	margin: 0 auto;
	padding-left: 93.73px;
	padding-right: 93.73px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	text-decoration: blue;
	font-weight: bold;
	font-size: 25px;
	border: #086eaf 8px inset;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.netflixHome:hover {
	color: #e41e1b;
}

.watchaHome:hover {
	color: #ff0459;
}

.wavveHome:hover {
	color: #0052ff;
}

.tvingHome:hover {
	color: #ff133d;
}
.disneyHome:hover {
	color: #086eaf;
}

.netflixHome:active,
.watchaHome:active,
.wavveHome:active,
.tvingHome:active,
.disneyHome:active {
	transform: scale(0.99);
}

#OTT_list {
	display: flex;
	margin: 0 auto;
	margin-top: 45px;
}

#netflixButton,
#watchaButton,
#tvingButton,
#wavveButton,
#disneyButton,
#appleButton {
	background-color: #f6f9fc;
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	padding: 18px 25px 18px 25px;
	cursor: pointer;
	border-style: solid;
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.2);
}

#netflixButton:hover {
	transform: scale(1.04);
	border-color: #e41e1b;
}
#watchaButton:hover {
	transform: scale(1.04);
	border-color: #ff0459;
}
#wavveButton:hover {
	transform: scale(1.04);
	border-color: #0052ff;
}
#tvingButton:hover {
	transform: scale(1.04);
	border-color: #ff133d;
}
#disneyButton:hover {
	transform: scale(1.04);
	border-color: #086eaf;
}

#netflixButton:active,
#watchaButton:active,
#tvingButton:active,
#wavveButton:active,
#disneyButton:active {
	transform: scale(0.99);
}

#table {
	margin: 50px;
	width: 710px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	cursor: default;
}

#table thead {
	margin-left: 30px;
	vertical-align: middle;
}

#table_first {
	font-weight: bold;
}
#table_first th {
	border-top: dashed rgb(175, 175, 175) 2px;
}

#table thead tr th {
	border-bottom: dashed rgb(175, 175, 175) 2px;
	width: 250px;
	height: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 25px;
}

.column {
	font-weight: bold;
	border-right: dashed rgb(175, 175, 175) 2px;
}

.price {
	color: red;
}

.display {
	color: rgb(47, 47, 199);
}

.multi {
	color: rgb(48, 133, 37);
}
